
<section>
  <h2>Edit-Post</h2>

  <form class="edit-post-form">
  <div>
    <label for="post-title">Title</label>
    <input type="text" id="post-title" name="post-title" value="{{post.title}}" />
  </div>
  <div>
    <label for="post-content">Content</label>
    <input type="text"  name="post-content" id="post-content" value="{{post.content}}" />
  </div>
  <button type="submit" class="Update-post-btn">Update Post</button>
   <button type="button" class="delete-post-btn">Delete</button>
  </form>
  </section>

  <script src="/javascript/edit-post.js"></script>
  <script src="/javascript/delete-post.js"></script>
